
/* File CSS Dasar untuk Satmoko Studio */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-main: #010409;
}

body {
  background-color: var(--bg-main);
  margin: 0;
  padding: 0;
}

/* Custom Scrollbar untuk tampilan premium */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #010409;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #22d3ee;
}
